<link rel="stylesheet" type="text/css" href="../css/list_style.css">
<h2>OpenStack informations: </h2>
<h3>System limits:</h3>
<ul class="system-limits">
{{#limits.absolute}}
    <li>maxServerMeta: {{maxServerMeta}}</li>
    <li>maxPersonality: {{maxPersonality}}</li>
    <li>maxImageMeta: {{maxImageMeta}}</li>
    <li>maxPersonalitySize: {{maxPersonalitySize}}</li>
    <li>maxSecurityGroupRules: {{maxSecurityGroupRules}}</li>
    <li>maxTotalKeypairs: {{maxTotalKeypairs}}</li>
    <li>totalRAMUsed: {{totalRAMUsed}}</li>
    <li>totalInstancesUsed: {{totalInstancesUsed}}</li>
    <li>maxSecurityGroups: {{maxSecurityGroups}}</li>
    <li>totalFloatingIpsUsed: {{totalFloatingIpsUsed}}</li>
    <li>maxTotalCores: {{maxTotalCores}}</li>
    <li>totalSecurityGroupsUsed: {{totalSecurityGroupsUsed}}</li>
    <li>maxTotalFloatingIps: {{maxTotalFloatingIps}}</li>
    <li>maxTotalInstances: {{maxTotalInstances}}</li>
    <li>totalCoresUsed: {{totalCoresUsed}}</li>
    <li>maxTotalRAMSize: {{maxTotalRAMSize}}</li>
{{/limits.absolute}}
</ul>
<div class="clear"></div>

<h3 id="images">Images: </h3>
{{#if images.length}}
    <i>{{images.length}} Images available</i>
    <button type="button" class="create-image">Create image</button>
    <table class="openstack-images">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Id</th>
            <th>Size</th>
            <th>Create Date</th>
        </tr>
    {{#each images}}
        <tr data-id="{{id}}" data-href="{{links.[0].href}}">
            <td>{{name}}</td>
            <td>{{status}}</td>
            <td>{{id}}</td>
            <td>{{OS-EXT-IMG-SIZE:size}}</td>
            <td>{{created}}</td>
        </tr>
    {{/each}}
    </table>
{{else}}
    There's currently no images configured
{{/if}}
<div class="clear"></div>

<h3 id="nova-flavor">Nova flavors: </h3>
{{#if flavors.length}}
    <i>{{flavors.length}} Nova flavors available</i>
    <table class="openstack-flavors">
        <tr>
            <th>Name</th>
            <th>Id</td>
            <th>RAM</th>
            <th>Disk size(GB)</th>
            <th>vCPUs</th>
        </tr>
    {{#each flavors}}
        <tr data-id="{{id}}" data-href="{{links.[0].href}}">
            <td>{{name}}</td>
            <td>{{id}}</td>
            <td>{{ram}}</td>
            <td>{{disk}}</td>
            <td>{{vcpus}}</td>
        </tr>
    {{/each}}
    </table>
{{else}}
    There's currently no nova flavors configured
{{/if}}
<!--<button type="button" class="create-flavor">Create Nova Flavor</button>-->
<div class="clear"></div>

<h3 id="servers">Servers: </h3>
{{#if servers.length}}
    <i>{{servers.length}} servers available</i>
    <a href="/createIntance" class="create-server">Create Server</a>
    <ul class="openstack-servers projectClass">
    {{#each servers}}
        <li data-id="{{id}}" data-href="{{links.[0].href}}">
            <div class="projectListBox">
                <div class="projectListBoxLeftSide">
                    <div class="projectNameTitle">
                        <p class="title">{{name}} (id: {{id}})</p>
                        <div class="operationPosition">
                            <select>
                                <option value="Test">Operations</option>
                            </select>
                        </div>
                    </div>
                    <div class="projectStatusInfo">
                        <ul>
                            <li><span>Created:&nbsp;</span>{{created}}</li>
                            <li><span>Flavor:&nbsp;(see details in nova flavor table)&nbsp;</span><a href="#nova-flavor">{{flavor.id}}</a></li>
                        </ul>
                    </div>
                </div>
                {{#equal status "SHUTOFF"}}
                <button type="button" data-id="{{id}}" class="startVM projectListBoxRightSide projectJoinButton">Start VM</button>
                {{else}}
                <button type="button" data-id="{{id}}" class="stopVM projectListBoxRightSide projectJoinButton">Stop VM</button>
                {{/equal}}
            </div>
        </li>
    {{/each}}
    </ul>
{{else}}
    There's currently no servers configured
    <a href="/createServer" class="create-server">Create Server</a>
{{/if}}
<div class="clear"></div>

<h3>Networks: </h3>
{{#if networks.length}}
    <i>{{networks.length}} servers available</i>
    <button type="button" class="create-network">Create Network</button>
    <table class="openstack-networks">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Type</th>
            <th>Status</th>
            <th>Subnet</th>
            <th>Shared</th>
            <th>Admin State up</th>
            <th>Router external</th>
        </tr>
    {{#each networks}}
        <tr data-id="{{id}}">
            <td>{{name}}</td>
            <td>{{id}}</td>
            <td>{{provider:network_type}}</td>
            <td>{{status}}</td>
            <td>{{#subnets}}{{this}},&nbsp;{{/subnets}}</td>
            <td>{{shared}}</td>
            <td>{{admin_state_up}}</td>
            <td>{{router:external}}</td>
        </tr>
    {{/each}}
    </table>
{{else}}
    There's currently no nova flavors configured
    <button type="button" class="create-network">Create Network</button>
{{/if}}

<h3>Subnets information</h3>
{{#if subnets.length}}
    <table class="openstack-subnets">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Gateway IP</th>
            <th>CIDR</th>
            <th>DHCP enabled</th>
        </tr>
        {{#each subnets}}
        <tr>
            <td>{{name}}</td>
            <td>{{id}}</td>
            <td>{{gateway_ip}}</td>
            <td>{{cidr}}</td>
            <td>{{enable_dhcp}}</td>
        </tr>
        {{/each}}
    </table>
{{/if}}
<div class="clear"></div>

